.about-page {
  width: 40rem;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 16vh;

  text-align: center;
}

.about-page-title {
  font-size: 2.4rem;
  font-weight: var(--font-weight-bold);
}

.about-page-description {
  margin: 1.6rem 0;
}

/* .about-page-btn {} */

.about-page-btn-icon {
  margin-left: 0.8rem;
}
