.about-page {
  display: block;
  text-align: center;
  width: 40rem;
  max-width: 100%;
  margin: 24vh auto;
}
.about-page-title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.6rem;
}
.about-page-description {
  margin-bottom: 1.6rem;
}
.about-page-btn {
}
.about-page-btn-icon {
  margin-left: 0.8rem;
}
