.add-task-box__warp {
  display: none;
}

.add-task-box__warp--open {
  display: block;
}

.add-task-box {
  display: none;

  padding: 2.4rem;

  border: 2px solid var(--color-neutral-400);
  border-radius: 3.2rem;
  background: var(--color-neutral-100);
}

#slidebar-add-task-box {
  display: block;
  position: absolute;
  z-index: 100;

  max-width: 92rem;
  height: fit-content;
  margin: auto;

  inset: 0;
}

.add-task-box-title {
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);

  width: 100%;

  border: none;
}

.add-task-box-description {
  overflow-y: auto;

  width: 100%;
  margin: 0.8rem 0 1.6rem;

  resize: none;
  white-space: normal;

  color: var(--color-neutral-700);
  border: none;
}

.add-task-box-option-warp {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: 2rem;
  padding-bottom: 1.6rem;

  border-bottom: 0.1rem solid var(--color-neutral-500);

  gap: 0.8rem;
}

.add-task-box-option {
  font-weight: var(--font-weight-bold);

  display: flex;
  align-items: center;

  padding: 0.8rem 1.2rem;

  transition: 0.3s;

  color: var(--color-neutral-700);
  border: 1px solid var(--color-neutral-500);
  border-radius: 0.8rem;
  background-color: transparent;

  column-gap: 0.8rem;
}

.add-task-box-option:hover {
  background-color: var(--color-neutral-300);
}

.add-task-box-cancel-icon {
  z-index: 50;

  display: none;

  width: 2.4rem;
  height: 2.4rem;
  padding: 0.4rem;

  cursor: pointer;
  transition: 0.3s;

  color: inherit;
  border-radius: 0.8rem;
}

.add-task-box-cancel-icon:hover {
  background-color: var(--color-neutral-400);
}

.add-task-box-btns {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

/* .add-task-box-btn {} */

/*
======================================
                 Date
======================================
*/

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;

  -webkit-appearance: none;
}

.pickDateBtn {
  position: relative;
}

.hiddenDate {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;
}

/*
======================================
               Priority
======================================
*/

.priority {
  position: relative;
}

.priority__submenu {
  position: absolute;
  z-index: 100;

  display: none;
  overflow: hidden;
  flex-direction: column;

  width: 150%;
  margin-top: 0.8rem;

  transition: 0.3s;

  border: 1px solid var(--color-neutral-500);
  border-radius: 1.6rem;
  box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.06);
}

.priority__submenu::after {
  position: fixed;
  z-index: -1;

  display: none;

  width: 100vw;
  height: 100vh;

  content: ' ';

  background-color: rgba(183, 186, 196, 0.5);

  inset: 0;
  backdrop-filter: blur(0.4rem);
}

.priority__submenu--active {
  display: flex;
}

.priority__submenu-item {
  display: flex;
  align-items: center;

  padding: 0.8rem 1.2rem;

  border: none;
  background-color: var(--color-neutral-100);

  column-gap: 0.8rem;
}

.priority__submenu-item:hover,
.priority__submenu-item--active {
  background-color: var(--color-neutral-300);
}

/*
======================================
                Label
======================================
*/

.label-warp {
  position: relative;
}

.label__submenu {
  position: absolute;
  z-index: 54;

  display: none;
  align-items: center;
  flex-direction: column;

  min-width: 32rem;
  min-height: fit-content;
  max-height: 24rem;
  margin-top: 0.8rem;
  padding: 0.8rem;

  color: var(--color-neutral-700);
  border: 1px solid var(--color-neutral-500);
  border-radius: 1.2rem;
  background-color: var(--color-neutral-100);
  box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.06);

  row-gap: 0.8rem;
  column-gap: 0.8rem;
}

.label__submenu--open {
  display: flex;
}

.label__search-box {
  font-size: 1.6rem;

  width: 100%;
  padding: 0.8rem;

  border: 1px solid var(--color-neutral-600);
  border-radius: 0.8rem;
}

.labels {
  display: none;
  overflow-x: scroll;
  flex-direction: column;

  width: 100%;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.4rem 0.8rem;

  cursor: pointer;
  user-select: none;

  border-radius: 0.8rem;
}

.label:hover {
  background-color: var(--color-neutral-300);
}

.label__text-warp {
  display: flex;
  align-items: center;

  column-gap: 0.8rem;
}

.label__text-atsign {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
}

.label__text-label {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
}

input[type='checkbox'] {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.4rem;
  height: 2.4rem;
  margin: 0;

  cursor: pointer;
  transition: 0.3s;

  border-radius: 0.4rem;
  background-color: var(--color-neutral-400);

  appearance: none;
}

input[type='checkbox']:hover {
  background-color: var(--color-neutral-500);
}

input[type='checkbox']::after {
  font-size: 2rem;

  display: none;

  width: 1.2rem;
  height: 1.2rem;

  content: '';
  transition: 0.3s;

  border-radius: 0.8rem;
  background-color: transparent;
  background-color: #3a36a8;
}

input[type='checkbox']:checked {
  border: 1px solid var(--color-neutral-500);
  border-radius: 1.6rem;
  background-color: var(--color-neutral-300);
}

input[type='checkbox']:checked::after {
  display: block;
}

.label-not-found {
  font-size: 1.6rem;

  display: block;
}

.add-label {
  display: block;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 0.8rem;

  cursor: pointer;
  user-select: none;

  color: var(--color-neutral-100);
  border-radius: 0.8rem;
  background-color: var(--color-primary-300);

  column-gap: 0.8rem;
}

.add-label__icon {
  width: 2rem;
  height: 2rem;
}

.add-label__text {
  font-size: 1.6rem;
}
