.add-task-box {
  padding: 24px;
  border: 1px solid var(--color-neutral-400);
  border-radius: 3.2rem;

  display: none;
}
.add-task-box--open {
  display: block !important;
  position: absolute;
  right: 0;
  z-index: 100;
  background: #fff;
  width: 92rem;
  height: fit-content;
  inset: 0;
  margin: auto;
  /* box-shadow: 0 0 120px rgba(30, 30, 30, 0.5); */
  border-width: 2px;
}
.add-task-box-abs--active {
  position: absolute;
  inset: 0;
  margin: auto;
  display: block;
  z-index: 150;
}
.add-task-box-title {
  font-size: var(--font-size-xl);
  width: 100%;
  color: var(--color-neutral-900);
  font-weight: var(--font-weight-medium);
  border: none;
  border-radius: 0;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.8rem;
}
.add-task-box-description {
  width: 100%;
  height: 100%;
  resize: none;
  white-space: normal;
  overflow-y: auto;
  color: var(--color-neutral-700);
  border: none;
  border-radius: 0;
}
.add-task-box-options-warp {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  position: relative;
  margin-bottom: 3.2rem;
}
.add-task-box-options-warp::after {
  content: " ";
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-neutral-400);
  position: absolute;
  bottom: -1.6rem;
}
.add-task-box-option {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid var(--color-neutral-500);
  border-radius: 0.8rem;
  column-gap: 0.8rem;
  color: var(--color-neutral-700);
}

.add-task-box-option-more {
  padding: 0.8rem;
}
.add-task-box-option-more-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-neutral-700);
}
.add-task-box-option:hover,
.add-task-box-option-more:hover .add-task-box-option-more-icon {
  transition: all 250ms ease;
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
}
.add-task-box-btns {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.add-task-box-btn {
}
.add-task-box-btn {
}

.add-task-box__layer {
  content: " ";
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgba(107, 114, 128, 0.5);
  backdrop-filter: blur(0.8rem);
  position: fixed;
  z-index: 99;
  display: none;
  transition: opacity 2s ease;
}
