.btn-sm {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  border: none;
  border-radius: 0.8rem;
  transition: 0.3s;
}

.btn-sm:hover {
  background-color: var(--color-primary-400);
}
.btn-sm-neutral {
  font-size: 1.6rem;
  padding: 0.6rem 1.6rem;
  text-align: center;

  background-color: var(--color-neutral-400);
  color: var(--color-neutral-800);
  border: none;
  border-radius: 0.8rem;
  transition: 0.3s;
}
.btn-sm-neutral:hover {
  background-color: var(--color-neutral-500);
}
.btn-md {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  border: none;
  border-radius: 0.8rem;
  transition: 0.3s;
}
.btn-md:hover {
  background-color: var(--color-primary-400);
}
