#slidebar-label--btn {
}
.label-warp {
  position: relative;
}
.label__submenu {
  position: absolute;
  display: none;
  row-gap: 0.8rem;
  flex-direction: column;
  align-items: center;
  padding: 0.8rem;
  margin-top: 0.8rem;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-500);
  border-radius: 1.2rem;
  column-gap: 0.8rem;
  color: var(--color-neutral-700);
  z-index: 54;
  min-width: 32rem;
  min-height: fit-content;
  max-height: 24rem;
    box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.06);
}

.label__submenu--open {
  display: flex;
}

.label__search-box {
  border: 1px solid var(--color-neutral-600);
  border-radius: 0.8rem;
  padding: 0.8rem;
  font-size: 1.6rem;
  width: 100%;
}

.labels {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: scroll;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  user-select: none;
}

.label:hover {
  background-color: var(--color-neutral-300);
}
.label__text-warp {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.label__text-atsign {
  font-size: 2rem;
  font-weight: 900;
}
.label__text-label {
  font-size: 1.6rem;
  font-weight: 500;
}
input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 0.4rem;
  background-color: var(--color-neutral-400);
  cursor: pointer;
  transition: all 0.2s ease-out;
  margin: 0;
}
input[type="checkbox"]:hover {
  background-color: var(--color-neutral-500);
}

input[type="checkbox"]::after {
  content: "";
  font-size: 2rem;
  display: none;
  width: 1.2rem;
  height: 1.2rem;
  background-color: transparent;
  background-color: #3a36a8;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"]:checked {
  border-radius: 1.6rem;
  background-color: var(--color-neutral-300);
  border: 1px solid var(--color-neutral-500);
}

input[type="checkbox"]:checked::after {
  display: block;
}
.label-not-found {
  display: none;
  font-size: 1.6rem;
}
.add-label {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  border-radius: 0.8rem;
  padding: 0.8rem;
  column-gap: 0.8rem;
  user-select: none;
  cursor: pointer;
}

.add-label__icon {
  width: 2rem;
  height: 2rem;
}
.add-label__text {
  font-size: 1.6rem;
}
