.search__warp {
  display: none;
}

.search-box {
  position: absolute;
  z-index: 100;

  display: block;

  max-width: 92rem;
  max-height: 48rem;
  margin: auto;
  padding: 2.4rem;

  border: 0.1rem solid var(--color-neutral-400);
  border-radius: var(--radius-xxl);
  background: #fff;

  inset: 0;
}

.search-box__input-warp {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 4.8rem;
  margin-bottom: 1.6rem;

  border: 0.1rem solid var(--color-neutral-400);
  border-radius: var(--radius-lg);
}

.search-box__input {
  font-size: 1.8rem;

  position: absolute;

  padding: 0 1.2rem;

  color: var(--color-neutral-800);
  border: none;

  inset: 0;
}

.search-box__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1.2rem;

  width: 2.2rem;
  height: auto;
  margin: auto;

  color: var(--color-neutral-700);
}

.search-box__task-warp {
  overflow-y: auto;

  height: calc(100% - 7rem);

  overscroll-behavior: contain;
  scrollbar-width: 0.4rem;
  scrollbar-color: var(--color-neutral-300) transparent;
}

.search-box__status {
  font-size: 2.2rem;
  font-weight: var(--font-weight-bold);

  display: block;

  margin-top: 14rem;

  user-select: none;
  text-align: center;

  color: var(--color-neutral-600);
}

.search-box__task {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.4rem;
  margin-bottom: 1.2rem;
  padding: 0 1.2rem;

  user-select: none;
  transition: all 80ms ease;

  color: var(--color-neutral-800);
  border: 0.1rem solid var(--color-neutral-500);
  border-radius: var(--radius-md);
}

.search-box__task--not-finished:hover {
  background-color: var(--color-neutral-300);
}

.search-box__task--completed {
  background-color: var(--color-neutral-200);
}

.search-box__task-text-warp {
  display: flex;
  flex-direction: column;
}

.search-box__task-title {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
}

.search-box__task-description {
  font-size: 1.2rem;
}

.search-box__task-completed {
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);

  color: var(--color-neutral-700);
}

.hide {
  display: none;
}
