.sidebar {
  position: fixed;
  z-index: 50;
  top: 0;

  display: none;
  overflow-y: auto;

  height: 100vh;
  padding: 2.4rem;

  user-select: none;
  transition: width 2s ease;

  background-color: var(--color-neutral-300);

  overscroll-behavior: contain;
  scrollbar-width: 0.4rem;
  scrollbar-color: var(--color-neutral-300) transparent;
}

.sidebar--open {
  display: block;
  width: 48rem;
}

.sidebar--close .sidebar__open-close-btn-icon {
  position: absolute;
  right: 41rem;

  transition: 0.3s;
  transform: rotate(90deg);

  background-color: var(--color-neutral-300);
}

/*
=======================================
                Profile
=======================================
*/

.sidebar__profile-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 6.4rem;
}

.sidebar__profile {
  display: flex;
  align-items: center;

  padding: 0.4rem 0.8rem;

  transition: 0.3s;

  border-radius: var(--radius-sm);

  column-gap: 1.6rem;
}

.sidebar__profile-img {
  width: 4rem;
  height: 4rem;

  border-radius: var(--radius-full);
  background-image: url(../../../assets/images/profile.jpg);
}

.sidebar__profile-name-text {
  font-size: 1.8rem;
  font-weight: var(--font-weight-medium);
}

.sidebar__profile-icon {
  width: 2rem;
  height: 2rem;
}

.sidebar__close-btn-icon,
.sidebar__open-btn-icon {
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;

  transition: 0.3s;
  transform: rotate(-90deg);

  border-radius: var(--radius-sm);
}

.sidebar__open-btn-icon {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;

  display: none;

  transition: 0.3s;

  background-color: var(--color-neutral-400);
}

.sidebar__profile:hover,
.sidebar__close-btn-icon:hover,
.sidebar__open-btn-icon:hover {
  background-color: var(--color-neutral-400);
}

/*
=======================================
             Sidebar List
=======================================
*/

.sidebar__list {
  margin-bottom: 4rem;
}

/* .sidebar__list-item {} */

.sidebar__list-link {
  display: flex;
  align-items: center;

  padding: 1.2rem 1.6rem;

  transition: 0.3s;

  border-radius: var(--radius-sm);
  border-radius: var(--radius-sm);

  column-gap: 2rem;
}

.sidebar__list-link:hover {
  background-color: var(--color-neutral-400);
}

.sidebar__list-icon {
  color: inherit;
}

.sidebar__list-text {
  font-size: 2rem;
}

.sidebar__list-link-add-task {
  padding: 0.4rem 0.8rem;

  column-gap: 1.2rem;
}

.sidebar__list-icon-add-task {
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;

  color: var(--color-neutral-100);
  border-radius: var(--radius-full);
  background-color: var(--color-primary-300);
}

.sidebar__list-link--active,
.sidebar__list-link--active:hover {
  color: var(--color-primary-300);
  background-color: var(--color-primary-100);
}

/*
=======================================
           Slidebar Project
=======================================
*/

.sidebar__project-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.4rem 0.8rem;

  transition: 0.3s;

  color: var(--color-neutral-800);
  border-radius: var(--radius-sm);
}

.sidebar__project-warp:hover {
  background-color: var(--color-neutral-400);
}

.sidebar__project-text {
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
}

.sidebar__project-icons {
  display: flex;
  align-items: center;

  column-gap: 0.2rem;
}

.sidebar__project-arrow-icon,
.sidebar__project-plus-icon {
  display: none;

  padding: 0.2rem;

  transition: 0.3s;

  border-radius: var(--radius-sm);
}

.sidebar__project-arrow-icon:hover,
.sidebar__project-plus-icon:hover {
  background-color: var(--color-neutral-500);
}

.sidebar:hover .sidebar__project-arrow-icon,
.sidebar__project-warp:hover .sidebar__project-plus-icon {
  display: block;
}

/* .sidebar__project-list {} */

.sidebar__project-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1rem;

  transition: 0.3s;

  color: var(--color-neutral-800);
  border-radius: var(--radius-sm);
}

.sidebar__project-list-item:hover {
  background-color: var(--color-neutral-400);
}

.sidebar__project-list-link {
  display: flex;
  align-items: center;

  width: 100%;

  column-gap: 0.6rem;
}

/* .sidebar__project-list-icon {} */

/* .sidebar__project-list-text {} */

.sidebar__project-list-count-text {
  font-size: 1.4rem;

  transition: 0.3s;

  color: var(--color-neutral-600);
}

.sidebar__project-list-more-icon {
  display: none;

  padding: 0.2rem;

  transition: 0.3s;

  border-radius: var(--radius-sm);
}

.sidebar__project-list-more-icon:hover {
  background-color: var(--color-neutral-500);
}

.sidebar__project-list-item:hover .sidebar__project-list-count-text {
  display: none;
}

.sidebar__project-list-item:hover .sidebar__project-list-more-icon {
  display: block;
}
