.sidebar {
  display: none;
  background-color: var(--color-neutral-300);
  height: 100vh;
  padding: 2.4rem;
  user-select: none;
  top: 0;
  position: fixed;
  z-index: 50;
  transition: width 2s ease;
}
.sidebar--open {
  width: 48rem;
  display: block;
}
.sidebar--close .sidebar__open-close-btn-icon {
  position: absolute;
  right: 410px;
  transform: rotate(90deg);
  transition: transform 2s ease;
  background-color: var(--color-neutral-300);
}
/* 
=======================================
                Profile
=======================================*/
.sidebar__profile-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-64);
}
.sidebar__profile {
  display: flex;
  align-items: center;
  column-gap: var(--space-16);
  padding: 0.4rem 0.8rem;
  border-radius: var(--radius-md);
  transition: all 0.2s ease;
}
.sidebar__profile-img {
  width: 4rem;
  height: 4rem;
  background-image: url(../../../assets/images/profile.jpg);
  border-radius: var(--radius-full);
}
.sidebar__profile-name-text {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}
.sidebar__profile-icon {
  width: 2rem;
  height: 2rem;
}
.sidebar__close-btn-icon,
.sidebar__open-btn-icon {
  transform: rotate(-90deg);
  width: 4rem;
  height: 4rem;
  border-radius: var(--radius-md);
  padding: 0.8rem;
  transition: all 0.2s ease;
}
.sidebar__open-btn-icon {
  display: none;
  top: 24px;
  right: 24px;
  position: absolute;
  transition: all 0.2s ease;
  background-color: var(--color-neutral-400);
}
.sidebar__profile:hover,
.sidebar__close-btn-icon:hover,
.sidebar__open-btn-icon:hover {
  background-color: var(--color-neutral-400);
}

/*
=======================================
             Sidebar List
=======================================*/
.sidebar__list {
  margin-bottom: 4rem;
}
/* .sidebar__list-item {} */
.sidebar__list-link {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1.2rem 1.6rem;
  border-radius: var(--radius-md);
  transition: all 0.2s ease;
  border-radius: var(--radius-md);
}
.sidebar__list-link:hover {
  background-color: var(--color-neutral-400);
}

.sidebar__list-icon {
  color: inherit;
}
.sidebar__list-text {
  font-size: var(--font-size-2xl);
}

.sidebar__list-link-add-task {
  padding: 0.4rem 0.8rem;
  column-gap: 1.2rem;
}
.sidebar__list-icon-add-task {
  width: 4rem;
  height: 4rem;
  padding: 0.8rem;
  background-color: var(--color-primary-300);

  border-radius: var(--radius-full);
  color: var(--color-neutral-100);
}
.sidebar__list-link--active,
.sidebar__list-link--active:hover {
  color: var(--color-primary-300);
  background-color: var(--color-primary-100);
}

/*
=======================================
           Slidebar Project
=======================================*/
.sidebar__project-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0.8rem;
  color: var(--color-neutral-800);
  border-radius: 0.8rem;
  transition: all 0.2s ease;
}
.sidebar__project-warp:hover {
  background-color: var(--color-neutral-400);
}
.sidebar__project-text {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-loose);
}
.sidebar__project-icons {
  display: flex;
  align-items: center;
  column-gap: var(--space-2);
}
.sidebar__project-arrow-icon,
.sidebar__project-plus-icon {
  padding: 0.2rem;
  border-radius: 0.8rem;
  display: none;
  transition: all 0.2s ease;
}
.sidebar__project-arrow-icon:hover,
.sidebar__project-plus-icon:hover {
  background-color: var(--color-neutral-500);
}
.sidebar:hover .sidebar__project-arrow-icon,
.sidebar__project-warp:hover .sidebar__project-plus-icon {
  display: block;
}

/* .sidebar__project-list {} */
.sidebar__project-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: var(--radius-md);
  transition: all 0.2s ease;
  color: var(--color-neutral-800);
}
.sidebar__project-list-item:hover {
  background-color: var(--color-neutral-400);
}
.sidebar__project-list-link {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
  width: 100%;
}
/* .sidebar__project-list-icon {} */
.sidebar__project-list-text {
  line-height: var(--line-height-normal);
}
.sidebar__project-list-count-text {
  color: var(--color-neutral-600);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  transition: all 0.2s ease;
}
.sidebar__project-list-more-icon {
  padding: 0.2rem;
  border-radius: 0.8rem;
  transition: all 0.2s ease;
  display: none;
}
.sidebar__project-list-more-icon:hover {
  background-color: var(--color-neutral-500);
}
.sidebar__project-list-item:hover .sidebar__project-list-count-text {
  display: none;
}
.sidebar__project-list-item:hover .sidebar__project-list-more-icon {
  display: block;
}
