.task__completed {
  z-index: 49;

  display: none;
  flex-direction: column-reverse;

  margin-top: 2.4rem;

  row-gap: 1.2rem;
}

.task__completed .task {
  position: relative;

  overflow: hidden;
  align-items: center;

  cursor: pointer;
  user-select: none;

  border: 0.1rem solid var(--color-neutral-300);
  border-radius: var(--radius-lg);
  background-color: var(--color-neutral-100);
  box-shadow: var(--shadow-sm);
}

.task__completed .task::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 1.2rem;

  content: '';

  border-radius: var(--radius-sm);
  background: rgba(34, 197, 94, 0.8);
}

.box-completed-details span {
  display: block;
}

.box-completed-details-warp {
  display: none;
}

.box-completed-details {
  position: absolute;
  z-index: 100;

  display: flex;
  overflow: scroll;
  flex-direction: column;

  max-width: 90rem;
  height: 40rem;
  margin: auto;
  padding: 4rem;

  user-select: none;

  border: 0.2rem solid var(--color-neutral-300);
  border-radius: var(--radius-xxl);
  background-color: var(--color-neutral-100);

  gap: .8rem;
  inset: 0;
}

.box-completed-details__title {
  font-size: 2.4rem;
  font-weight: var(--font-weight-bold);


  color: var(--color-neutral-900);
}

.box-completed-details__description-warp {
  display: none;
}

.box-completed-details__description-title {
  font-weight: var(--font-weight-medium);

  margin-bottom: 0.4rem;
}

.box-completed-details__description {
  padding: 1.6rem;

  user-select: text;

  border: 0.1rem solid var(--color-neutral-300);
  border: 0.1rem solid var(--color-neutral-300);
  border-radius: var(--radius-md);
  background: rgba(0, 0, 0, 0.02);
}

.box-completed-details__priority-tags-warp {
  display: flex;
  flex-wrap: wrap;

  margin: 1.2rem 0;
  padding: 1.2rem;

  border: 0.1rem solid var(--color-neutral-300);
  border: 0.1rem solid var(--color-neutral-300);
  border-radius: var(--radius-sm);
  background: rgba(0, 0, 0, 0.02);

  gap: 0.8rem;
}

.box-completed-details__label-warp {
  display: flex;
  flex-wrap: wrap;

  gap: 0.8rem;
}

.box-completed-details__priority-tags {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.8rem1.6rem;

  color: var(--color-neutral-700);
  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-300);

  gap: 0.4rem;
}

.box-completed-details__completeAt-state-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;

  border: 0.1rem solid var(--color-neutral-300);
  border-radius: var(--radius-lg);
  background: var(--color-neutral-200);
}

.box-completed-details__state-warp {
  display: flex;

  color: var(--color-success);

  column-gap: 0.4rem;
}

.box-completed-details__state {
  font-weight: var(--font-weight-heavy);
}

/* .box-completed-details__completedAt {} */
