@import url(../variables.css);
@import url(../typography.css);
@import url(../base.css);
@import url(../components/side-bar.css);
@import url(../responsive.css);
.input {
  padding: 12rem 2.4rem 0;
}
.title-section {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-medium);
}
.input__add {
  text-align: center;
  width: 40rem;
  max-width: 100%;
  margin: 16rem auto 0;
}
.input__add-title {
  font-size: var(--font-size-3xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.6rem;
}
.input__add-description {
  margin-bottom: 1.6rem;
}
.input__add-btn {
}
.btn-md {
  font-size: var(--font-size-lg);
  padding: 0.8rem 1.6rem;
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  border: none;
  border-radius: 0.8rem;
}
.btn-md:hover {
  transition: background-color 500ms ease;
  background-color: var(--color-primary-400);
}
.input__add-btn-icon {
  margin-left: 0.8rem;
}
/* 
===============================================
 */
.input__add-task-box {
  padding: 24px;
  border: 1px solid var(--color-neutral-400);
  border-radius: 3.2rem;
  margin-top: 2.4rem;
  display: none;
}
.input__add-task-box-title {
  font-size: var(--font-size-xl);
  width: 100%;
  color: var(--color-neutral-900);
  font-weight: var(--font-weight-medium);
  border: none;
  border-radius: 0;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.8rem;
}
.input__add-task-box-description {
  width: 100%;
  height: 100%;
  resize: none;
  white-space: normal;
  overflow-y: auto;
  color: var(--color-neutral-700);
  border: none;
  border-radius: 0;
}
.input__add-task-options-warp {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  position: relative;
  margin-bottom: 3.2rem;
}
.input__add-task-options-warp::after {
  content: " ";
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-neutral-400);
  position: absolute;
  bottom: -1.6rem;
}
.input__add-task-option {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid var(--color-neutral-500);
  border-radius: 0.8rem;
  column-gap: 0.8rem;
  color: var(--color-neutral-700);
}

.input__add-task-option-more {
  padding: 0.8rem;
}
.input__add-task-option-more-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-neutral-700);
}
.input__add-task-option:hover,
.input__add-task-option-more:hover .input__add-task-option-more-icon {
  transition: all 250ms ease;
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
}
.input__add-task-btns {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.input__add-task-btn {
}
.input__add-task-btn {
}
/* ================================================== */

.btn-sm {
  font-size: var(--font-size-lg);
  padding: 0.6rem 1.2rem;
  background-color: var(--color-primary-300);
  color: var(--color-neutral-100);
  border: none;
  border-radius: 0.8rem;
}

.btn-sm:hover {
  transition: background-color 500ms ease;
  background-color: var(--color-primary-400);
}
.btn-sm-neutral {
  font-size: var(--font-size-lg);
  padding: 0.6rem 1.6rem;
  background-color: var(--color-neutral-400);
  color: var(--color-neutral-800);
  border: none;
  border-radius: 0.8rem;
}
.btn-sm-neutral:hover {
  transition: background-color 500ms ease;

  background-color: var(--color-neutral-500);
}
/* ================================================== */

.pagenone {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 44rem;
  top: 260px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
  background-color: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-500);
  padding: 3.2rem 4rem;
  border-radius: 2.4rem;
  row-gap: 0.8rem;
  opacity: 0;
  transition: opacity 2s ease;
}
.pagenone__layer {
  content: " ";
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: rgba(107, 114, 128, 0.5);
  backdrop-filter: blur(0.8rem);
  position: absolute;
  z-index: 99;
  opacity: 0;
  display: none;
  transition: opacity 2s ease;
}
.pagenone__title {
  font-size: 2.2rem;
  font-weight: 900;
}
.pagenone__text {
  margin-bottom: 2.4rem;
  color: var(--color-neutral-800);
}
.pagenone__btn-close {
  padding: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--color-neutral-400);
  color: var(--color-neutral-900);
  width: 100%;
}
.pagenone__btn-close:hover {
  transition: all 500ms ease;
  background-color: var(--color-neutral-500);
}
