@import url(../variables.css);
@import url(../typography.css);
@import url(../base.css);
@import url(../grid.css);
@import url(../components/side-bar.css);
.app {
  margin-right: 24vw;
  transition: all 500ms ease;
}
.app--open {
  padding-right: 28rem;
}

.side-bar__profile-icon {
  color: black;
}
