@import url(../variables.css);
@import url(../typography.css);
@import url(../base.css);
@import url(../components/sidebar.css);
@import url(../components/btn.css);

/*=======================================
            Input Section
=======================================*/
.input {
  padding: 2.4rem;
}

/*=======================================
              Box Add Task
=======================================*/
.input__add-task-box {
  padding: 24px;
  border: 1px solid var(--color-neutral-400);
  border-radius: 3.2rem;

  display: none;
}
.input__add-task-box--open {
  display: block !important;
  position: absolute;
  right: 0;
  z-index: 100;
  background: #fff;
  width: 92rem;
  height: fit-content;
  inset: 0;
  margin: auto;
  /* box-shadow: 0 0 120px rgba(30, 30, 30, 0.5); */
  border-width: 2px;
}
.input__add-task-box-abs--active {
  position: absolute;
  inset: 0;
  margin: auto;
  display: block;
  z-index: 150;
}
.input__add-task-box-title {
  font-size: var(--font-size-xl);
  width: 100%;
  color: var(--color-neutral-900);
  font-weight: var(--font-weight-medium);
  border: none;
  border-radius: 0;
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.8rem;
}
.input__add-task-box-description {
  width: 100%;
  height: 100%;
  resize: none;
  white-space: normal;
  overflow-y: auto;
  color: var(--color-neutral-700);
  border: none;
  border-radius: 0;
}
.input__add-task-options-warp {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  position: relative;
  margin-bottom: 3.2rem;
}
.input__add-task-options-warp::after {
  content: " ";
  width: 100%;
  height: 0.1rem;
  background-color: var(--color-neutral-400);
  position: absolute;
  bottom: -1.6rem;
}
.input__add-task-option {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  border: 1px solid var(--color-neutral-500);
  border-radius: 0.8rem;
  column-gap: 0.8rem;
  color: var(--color-neutral-700);
}

.input__add-task-option-more {
  padding: 0.8rem;
}
.input__add-task-option-more-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-neutral-700);
}
.input__add-task-option:hover,
.input__add-task-option-more:hover .input__add-task-option-more-icon {
  transition: all 250ms ease;
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-100);
}
.input__add-task-btns {
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
}
.input__add-task-btn {
}
.input__add-task-btn {
}
/*=======================================
                Tasks
=======================================*/
.tasks {
  margin: 2.4rem 0;
  display: none;
  flex-direction: column;
}
.task {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid var(--color-neutral-300);
  padding: 1.6rem 2.4rem;
  transition: all 250ms ease;
}

.task:hover {
  border-radius: 0.8rem;
  background-color: var(--color-neutral-200);
}
.task__warp {
  display: flex;
  align-items: start;

  column-gap: 0.8rem;
}
.task__tick-Square-icon {
  cursor: pointer;
  background-color: #fff;
}
.task__tick-Square-icon:hover .task__tick-icon {
  fill: var(--color-neutral-800);
}
.task__text-warp {
  display: flex;
  flex-direction: column;
}
.task__title {
  color: var(--color-neutral-900);
  line-height: 1.4;
}
.task__description {
  font-size: 1.4rem;
  color: var(--color-neutral-800);
}
.task__icons {
  display: flex;
  column-gap: 0.4rem;
}
.task__icon {
  color: var(--color-neutral-700);
  padding: 0.2rem;
}
.task__icon:hover {
  background-color: var(--color-neutral-300);
  border-radius: 0.8rem;
}
.task__add {
  display: none;
  align-items: center;
  column-gap: 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}
.task__add-icon {
  width: 2rem;
  height: 2rem;
  color: var(--color-primary-400);
  border-radius: 0.8rem;
  transition: all 500ms ease;
}
.task__add:hover .task__add-icon {
  background-color: var(--color-primary-400);
  color: #fff;
}
.task__add-text {
  line-height: 1;
  font-weight: 500;
  font-size: 1.4rem;
}
