#input-section {
  display: block;
}

/*
======================================
                Tasks
=======================================
*/

.task-container {
  display: none;
  flex-direction: column;

  margin: 2.4rem 0;
}

.task {
  display: flex;
  align-items: start;
  justify-content: space-between;

  padding: 1.6rem 2.4rem;

  transition: 0.3s;

  border-bottom: 0.1rem solid var(--color-neutral-300);
}

.task:hover {
  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-200);
}

.task__warp {
  display: flex;
  align-items: start;

  column-gap: 0.8rem;
}

.task__tick-Square-icon {
  min-width: 2rem;
  min-height: 2rem;

  cursor: pointer;
  transition: 0.3s;

  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-100);
}

.task__tick-icon {
  display: none;

  transition: 0.3s;
}

.task__tick-Square-icon:hover .task__tick-icon {
  display: block;
}

.task__text-warp {
  display: flex;
  flex-direction: column;
}

.task__title {
  font-weight: var(--font-weight-medium);

  color: var(--color-neutral-900);
}

.task__description {
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;

  margin-bottom: 0.4rem;

  color: var(--color-neutral-700);

  -webkit-line-clamp: 2;
}

.task__icons {
  display: flex;

  column-gap: 0.4rem;
}

.task__icon {
  padding: 0.2rem;

  color: var(--color-neutral-700);
}

.task__icon:hover {
  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-300);
}

.task-date__warp {
  display: flex;
  align-items: center;

  column-gap: 0.2rem;
}

.task-date__icon {
  width: 2rem;
  height: 2rem;
}

.task-date__text {
  font-size: 1.4rem;
}

.task__add {
  display: none;
  align-items: end;

  margin-right: 2.4rem;

  cursor: pointer;

  column-gap: 0.8rem;
}

.task__add-icon {
  width: 2rem;
  height: 2rem;

  transition: 0.3s;

  color: var(--color-primary-400);
  border-radius: var(--radius-sm);
}

.task__add:hover .task__add-icon {
  color: var(--color-neutral-100);
  background-color: var(--color-primary-400);
}

.task__add-text {
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);
}
