.label-filter-warp {
  display: flex;
  flex-direction: column;

  margin-top: 2.4rem;

  row-gap: 1.6rem;
}

.label-filter__btn {
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 0.8rem 1.6rem;

  cursor: pointer;
  transition: 0.3s;

  border: none;
  border-radius: var(--radius-sm);
  outline: none;
  background: transparent;
}

.label-filter__btn--active,
.label-filter__btn:hover {
  background: var(--color-neutral-300);
}

.label-filter__btn-icon {
  padding: 0.2rem;

  transition: 0.3s;
  transform: rotate(90deg);
}

.label-filter__btn-icon--active {
  transform: rotate(0);
}

.label-filter__btn-icon:hover {
  border-radius: var(--radius-sm);
  background: var(--color-neutral-400);
}

.label__warp {
  overflow: hidden;

  margin-top: 0.8rem;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem 2.4rem;

  color: var(--color-neutral-800);
  border-bottom: 0.1rem solid var(--color-neutral-300);
}

.label-box:hover {
  cursor: pointer;

  border-radius: var(--radius-sm);
  background-color: var(--color-neutral-200);
}

.label-box__icon-warp {
  display: none;
  align-items: center;

  transition: 0.3s;

  opacity: 0;
}

.label-box:hover .label-box__icon-warp {
  display: flex;

  opacity: 1;
}

.label-box__icon-heart--active,
.label-box__icon-heart:hover {
  color: var(--color-error);
}

.label-filter__details-warp {
  display: none;
}

.label-filter__details-box {
  position: absolute;
  z-index: 100;

  max-width: 48rem;
  height: fit-content;
  margin: auto;
  padding: 2.4rem;

  border-radius: var(--radius-xlg);
  background-color: #fff;

  inset: 0;
}

.label-filter__details-head-text {
  font-weight: var(--font-weight-bold);

  display: block;

  margin-bottom: 2.4rem;
  padding: 0.8rem 0;

  border-bottom: 0.1rem solid var(--color-neutral-400);
}

.label-filter__details-label-text {
  font-weight: var(--font-weight-bold);

  display: block;

  padding-right: 0.4rem;
}

#input-name-label {
  font-size: 1.6rem;

  width: 100%;
  margin-bottom: 2.4rem;
  padding: 0.4rem 0.8rem;

  border: 0.1rem solid var(--color-neutral-500);
  border-radius: var(--radius-sm);
}
