.label-filter-warp {
  margin-top: 2.4rem;
  display: flex;
  row-gap: 1.6rem;
  flex-direction: column;
}
.label-filter__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
  border-radius: 0.8rem;
  width: 100%;
  transition: 0.3s;
}

.label-filter__btn--active,
.label-filter__btn:hover {
  background: var(--color-neutral-300);
}

.label-filter__btn-icon {
  transform: rotate(90deg);
  transition: 0.3s;
  padding: 0.2rem;
}
.label-filter__btn-icon--active {
  transform: rotate(0);
}
.label-filter__btn-icon:hover {
  background: var(--color-neutral-400);
  border-radius: 0.6rem;
}

.label__warp {
  overflow: hidden;
  margin-top: 0.8rem;
}

.label-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.4rem;
  color: var(--color-neutral-800);

  border-bottom: 1px solid var(--color-neutral-300);
}
.label-box:hover {
  background-color: var(--color-neutral-200);
  border-radius: 0.8rem;
  cursor: pointer;
}
.label-box__icon-warp {
  display: none;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.label-box:hover .label-box__icon-warp {
  display: flex;
  opacity: 1;
}
.label-box__icon-heart--active,
.label-box__icon-heart:hover {
  color: var(--color-error);
}

.label-filter__details-warp {
  display: none;
}
.label-filter__details-box {
  padding: 2.4rem;
  border-radius: 2.4rem;
  position: absolute;
  margin: auto;
  inset: 0;
  z-index: 100;
  background-color: #fff;
  max-width: 48rem;
  height: fit-content;
}

.label-filter__details-haed-text {
  font-weight: var(--font-weight-bold);
  display: block;
  padding: 0.8rem 0;
  border-bottom: 1px solid var(--color-neutral-400);
  margin-bottom: 2.4rem;
}
.label-filter__details-label-text {
  padding-right: 0.4rem;
  font-weight: var(--font-weight-bold);
  display: block;
}
#input-name-label {
  width: 100%;
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
  font-size: 1.6rem;
  border: 1px solid var(--color-neutral-500);
}
.label-filter__details-color-warp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem 0;
}
#input-color-label {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;

  border-radius: 0.8rem;
}
