/* TODO:FIX Responsive */
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #dddddd;
  height: 100vh;
}

@media (min-width: 576px) {
  .container {
    /* BUG:FIX RESPONS */
  }
}

@media (min-width: 768px) {
  .container {
    width: 360px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 590px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1000px;
  }
}
