@import url(./typography.css); /* ok*/
@import url(./variables.css); /* ok*/
@import url(./base.css); /* ok*/
@import url(../css/components/sidebar.css); /* ok*/
@import url(../css/components/buttons.css); /* ok*/
@import url(../css/components/about-page.css); /* ok*/
@import url(../css/components/add-task-box.css); /* ok*/
@import url(../css/components/search-box.css); /* ok*/
@import url(../css/vendor/jalalidatepicker.min.css); /* ok*/

.main {
  overflow-y: auto;

  height: 100vh;

  transition: 0.3s;

  overscroll-behavior: contain;
  scrollbar-width: 4rem;
  scrollbar-color: var(--color-neutral-500) transparent;
}

.main--open {
  margin-right: 48rem;
}

.bg-layer {
  position: fixed;
  z-index: 90;

  display: block;

  width: 100vw;
  height: 100vh;

  content: ' ';
  transition: 0.3s;

  background-color: rgba(183, 186, 196, 0.2);

  inset: 0;
  backdrop-filter: blur(0.4rem);
}

.title-section {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);

  position: sticky;
  z-index: 49;
  top: 0;

  padding: 1.6rem;

  text-align: center;

  border-bottom: 1px solid var(--color-neutral-300);
  border-radius: 0 0 1.6rem 1.6rem;
  background-color: var(--color-neutral-100);
  box-shadow: var(--shadow-md);
}

.page {
  display: none;
  padding: 0 2.4rem 24rem;
}
