@font-face {

font-family: 'Vazirmatn';
src: url('../../assets/fonts/vazirmatn/Vazirmatn[wght].woff2') format( 'woff2 supports variations') , url( '../../assets/fonts/vazirmatn/Vazirmatn[wght].woff2') format( 'woff2-variations') , url( '../../assets/fonts/vazirmatn/Vazirmatn[wght].ttf') format( 'truetype');
font-weight: 100 900;
font-style: normal;
font-display: swap;

}
