:root {
  /* Brand */
  --color-primary-100: #e7e6ff;
  --color-primary-200: #a9a3ff;
  --color-primary-300: #6c63ff;
  --color-primary-400: #524bd9;
  --color-primary-500: #3a36a8;

  /* Neutral */
  --color-neutral-100: #ffffff;
  --color-neutral-200: #f8f9fb;
  --color-neutral-300: #edeff3;
  --color-neutral-400: #d6d8df;
  --color-neutral-500: #b7bac4;
  --color-neutral-600: #a3a3a3;
  --color-neutral-700: #6b7280;
  --color-neutral-800: #3f3f46;
  --color-neutral-900: #1e1e1e;

  /* -Status */
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;

  /* Typography */
  --font-family-base: 'Vazirmatn', sans-serif;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;

  --line-height-normal: 1.5;

  /* Border Radius */
  --radius-vsm: .4rem;
  --radius-sm: .8rem;
  --radius-md: 1.2rem;
  --radius-lg: 1.6rem;
  --radius-xlg: 2.4rem;
  --radius-xxl: 3.2rem;


  --radius-full: 99rem;

  /* Shadows */
  --shadow-sm: 0 2rem 2rem 0 rgba(237, 239, 243, 0.3);
  --shadow-md: 0 2rem 2rem 0 rgba(237, 239, 243, 0.5);
  --shadow-lg: 0 2rem 2rem 0 rgba(237, 239, 243, 0.8);
}
